 /*  X-Small devices (portrait phones, less than 576px) */
 @media (max-width: 575px ) { 
    .testimonial-card-1 {
        margin-top: 50px;
    }
    .testimonial-card-2,.testimonial-card-3{
        margin-top: 0;
    }
    .featured-area p{
        font-size: 10px;
    }
    input[type="button"] {
       
        left: 70%;
        bottom: 8%;
      
    }
    
 }
 
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px ) { 
    .testimonial-card-1 {
        margin-top: 50px;
    }
    .testimonial-card-2,.testimonial-card-3{
        margin-top: 0;
    }
 }



 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .testimonial-card-1 {
        margin-top: 50px;
    }
    .testimonial-card-2,.testimonial-card-3{
        margin-top: 0;
    }
    .testimonial-image img {
        top: 120px;
    }
   
 }

 /*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .testimonial-card-1, .testimonial-card-3{
        margin-top: 100px;
    }
    .testimonial-card-2{
        margin-top: 50px;
    }
    .testimonial-image img {
        top: 178px;
    }
 }


 /*  X-Large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) { 
    .testimonial-card-1, .testimonial-card-3{
        margin-top: 150px;
    }
    .testimonial-card-2{
        margin-top: 100px;
    }

  }

 
 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .testimonial-card-1, .testimonial-card-3{
        margin-top: 200px;
    }
    .testimonial-card-2{
        margin-top: 100px;
    }
    .testimonial-image img {
        top: 149px;
    }
 }