/* reset css */
:root{
    --primary-color:#00008b;
}
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    transition: .3s;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
li{
    list-style: none;
}
html{
    /* font-size: 62.5%; */
    font-weight: 400;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.pt-100{
    padding-top: 100px;
}
.pb-100{
    padding-bottom: 100px;
}
/* common-btn */
.btn:focus{
    box-shadow: none;
}
.btn-color, .btn:hover{
    background-color:var(--primary-color);
    color: #fff;
}
/* header css */
#header{
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.logo img {
	width: 176px;
}

.navbar-icon {
    color: #fff;
  }
  
  .nav-link {
    float: right;
    color: #fff;
  }
  .nav-link:hover{
    color: #fff;
  }

/* welcome css */
.welcome-title {
	margin-top: -140px;
}

.welcome-title p{
    padding: 5px;
}
.welcome-title a{
    color: #fff;
}

/* about css */
#about{
    margin-top: 30px;
}


/* services css */
#services{
    background-color: #ddd;
}

/* features css */
#featured{
    background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/feature/feature-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.feature-pera{
    font-size: 14px;
}

/* testimonial css */
.testimonial-card-1, .testimonial-card-3{
    margin-top: 200px;
}
.testimonial-card-2{
    margin-top: 100px;
}
.testimonial-title h1, .twitter-icon{
    color: darkblue;
}
.testimonial-title p, .card-text{
    font-size: 14px;
}
.testimonial-card{
    position: relative;
}
.testimonial-image img {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	left: -12px;
	top: 145px;
}

/* contact css */
.contact-area{
    background-color: var(--primary-color);

}
.form {
    position: relative;
}
input[type="email"] {
	width: 350px;
	padding: 10px;
	border-radius: 20px;
    border: none;
}
input[type="button"] {
    position: absolute;
    left:59%;
    bottom:8%;
    border-radius: 55px;
    padding: 6px 20px;
}
/* footer css */
#footer{
    background-color:#ddd;
    height: 30%;
    margin-top: 50px;
}