/* reset css */
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    transition: .3s;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
li{
    list-style: none;
}
html{
    /* font-size: 62.5%; */
    font-weight: 400;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
/* header css */
#header{
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.logo img {
	width: 176px;
}

.navbar-icon {
    color: #fff;
  }
  
  .nav-link {
    float: right;
    color: #fff;
  }
  .nav-link:hover{
    color: #fff;
  }

/* welcome css */
.welcome-title {
	margin-top: -140px;
}

.welcome-title p{
    padding: 5px;
}
.welcome-title a{
    color: #fff;
}
.btn:focus{
    box-shadow: none;
}
.btn-color, .btn:hover{
    background-color: darkblue;
    color: #fff;
}
/* about css */
#about{
    margin-top: 30px;
}
.another-about{
    padding-top: 100px;
}

/* services css */
#services{
    background-color: #ddd;
}
.single-service{
    padding: 100px 0 100px;
}
/* features css */
#featured{
    background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/feature-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 70vh;
}
.featured-area{
    padding: 100px 0 100px;
}
.featured-area p{
    font-size: 14px;
}